global
    log 127.0.0.1 local0
    log 127.0.0.1 local1 notice

defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 5000
    timeout client 10000
    timeout server 10000

frontend stats
    bind *:81
    stats enable
    stats uri /
    stats hide-version
    stats refresh 3s
    stats admin if LOCALHOST

frontend balancer
    bind *:80
    default_backend servers

backend servers
    server server1 node1:3001 maxconn 50 check
    server server2 node2:3002 maxconn 50 check
    server server3 node3:3003 maxconn 50 check
